<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ogcapi-connectedsystems10-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.ogcapiconnectedsystems10.listener.TestRunListener" />
    <listener class-name="org.opengis.cite.ogcapiconnectedsystems10.listener.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.ogcapiconnectedsystems10.listener.TestFailureListener" />
  </listeners>

  <test name="Conformance Class - Core (OGC 23-001 /conf/core)">
    <classes>
      <class name="org.opengis.cite.ogcapiconnectedsystems10.SuitePreconditions" />
      <class name="org.opengis.cite.ogcapiconnectedsystems10.conformance.core.LandingPageTests" />
      <class name="org.opengis.cite.ogcapiconnectedsystems10.conformance.core.ConformanceTests" />
      <class name="org.opengis.cite.ogcapiconnectedsystems10.conformance.core.ResourceShapeTests" />
    </classes>
  </test>
  <!-- Add test sets for other conformance classes/levels in Sprint 2+ -->
</suite>
